<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/auth.css">
</head>
<body>

    <div class="modal">
        <div class="modal__overplay"></div>
    
        <div class="modal__body">
            <div class="modal__inner">
                <button class="modal__close"><img src="https://salt.tikicdn.com/ts/upload/fe/20/d7/6d7764292a847adcffa7251141eb4730.png" alt="close"></button>
                <div class="auth-form">
                    <div class="auth-form__header">
                        <h2 class="header__heading">Xin chào,</h2>
                        <p class="header__desc">Đăng nhập hoặc Tạo tài khoản</p>
                    </div>
                    <div class="auth-form__form">
                        <input class="form__tel" type="tel" name="tel" id="" Placeholder="Nhập số điện thoại">
                        <submit class="form__button">Tiếp Tục</submit>
                    </div>
                    <div class="auth-form__footer">
                        <p class="footer__desc"><span>Hoặc tiếp tục bằng</span></p>
                        <i class="footer__icon"><img src="https://salt.tikicdn.com/ts/upload/3a/22/45/0f04dc6e4ed55fa62dcb305fd337db6c.png" alt="facebook"></i>
                        <i class="footer__icon"><img src="https://salt.tikicdn.com/ts/upload/1c/ac/e8/141c68302262747f5988df2aae7eb161.png" alt="google"></i>
                        <i class="footer__icon"><img src="https://salt.tikicdn.com/ts/upload/98/37/86/517cfc05f04466b3118357a1fb4182c8.png" alt="zalo"></i>
                        <p class="footer__rule">Bằng việc tiếp tục, bạn đã chấp nhận <a href="https://hotro.tiki.vn/s/article/dieu-khoan-su-dung" class="rule">   điều khoản sử dụng</a></p>
                    </div>
                </div>
                <div class="modal__banner">
                    <img src="https://salt.tikicdn.com/ts/upload/eb/f3/a3/25b2ccba8f33a5157f161b6a50f64a60.png" alt="tiki" class="banner__img">
                    <div class="banner__text">
                        <h4 class="banner__text--heading">Mua sắm tại TiKi</h4>
                        <p class="banner__text--desc">Siêu ưu đãi mỗi ngày</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>