<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://salt.tikicdn.com/media/upload/2018/12/03/0054c1410e38f1b9f3609c244974dd9c.png" sizes="32x32"/>
    <title>tiki</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('./account.ejs') %>

</body>
</html>