<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/auth.css">
</head>
<body>

    <div class="modal">
        <div class="modal__overplay"></div>
    
        <div class="modal__body">
            <div class="modal__inner">
                <button class="modal__close"><img src="https://salt.tikicdn.com/ts/upload/fe/20/d7/6d7764292a847adcffa7251141eb4730.png" alt="close"></button>
                <div class="auth-form">
                    <button class="btn__action"><img src="https://salt.tikicdn.com/ts/upload/0b/43/2f/7c7435e82bce322554bee648e748c82a.png" alt="arrow"></button>
                    <div class="auth-form__header">
                        <h2 class="header__login">Nhập mật khẩu</h2>
                        <p class="header__desc">Vui lòng nhập mật khẩu Tiki của số điện thoại <b class="tel__input">Sđt</b> </p>
                    </div>
                    <div class="auth-form__form">
                        <div class="form__input">
                            <input type="password" name="name" placeholder="Nhập mật khẩu">
                        </div>
                        <submit class="form__button">Đăng nhập</submit>
                    </div>
                </div>
                <div class="modal__banner">
                    <img src="https://salt.tikicdn.com/ts/upload/eb/f3/a3/25b2ccba8f33a5157f161b6a50f64a60.png" alt="tiki" class="banner__img">
                    <div class="banner__text">
                        <h4 class="banner__text--heading">Mua sắm tại TiKi</h4>
                        <p class="banner__text--desc">Siêu ưu đãi mỗi ngày</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>