/* PC */
@media (min-width: 1024px){

}

/* TABLET */
@media (min-width: 740px) and (max-width: 1024px){

}

/* MOBILE */
@media (max-width: 740px){
    #header{
        overflow: hidden;
    }
    #nav{
        display: block;
    }
    #nav li{
        display: block;  
    }
    
    .btn-search{
        display:none;
    }
    #menu{
        display: block;
    }

    .btn-menu i{
        color: #fff;
    }
}