<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="tên người dùng"/>
      <input type="password" placeholder="mật khẩu"/>
      <a href="home" class="text-white none sign">Đăng nhập</a>
      <p class="message">Bạn chưa có tài khoản ? <a href="/">Tạo tài khoản</a></p>
    </form>
  </div>
</div>