<div class="login-page">
     <div class="form">
        <form class="login-form">
        <input type="text" placeholder="tên người dùng"/>
        <input type="password" placeholder="mật khẩu"/>
        <input type="password" placeholder="nhập lại mật khẩu"/>
        <a href="sign_in" class="text-white none sign">Đăng ký</a>
        <p class="message">Bạn đã có tài khoản ? <a href="sign_in">Đăng nhập</a></p>
        </form>
    </div>
</div>